@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_publicLayoutPage.cshtml";
}

<title>SignUp</title>

<br class="xs-50" />
<div class="account-wrapper">
    <div class="account-body">
        <h3>Get Started with a Account.</h3>
        <h5>Sign up in 30 seconds.</h5>
        <form class="form account-form" method="POST" action="/Account/SignUp">
            <div class="form-group">
                @*<label for="signup-fullname" class="placeholder-hidden">Your Name</label>*@
                <input type="text" class="form-control" id="signup-fullname" name="Name" placeholder="Your Name" required>
            </div> <!-- /.form-group -->
            @*<div class="businessName">*@
            <div class="form-group">
                @*<label for="login-BusinessName " class="placeholder-hidden">Business Name</label>*@
                <input type="text" class="form-control" id="login-Business" name="BusinessName" placeholder="Business Name" required>
            </div> <!-- /.form-group -->
            @*</div>*@
            <div class="form-group checkbox-inline">
                <input type="checkbox" name="IsIndividual" id="Individual" /> I'm Individual
            </div> <!-- /.form-group -->
            <div class="form-group">
                @*<label for="signup-email" class="placeholder-hidden">Email Address</label>*@
                <input type="email" class="form-control" id="signup-email" name="EmailAddress" placeholder="Your Email" required>
                <label id="lblerror" style="color:red"><span style="color:red"></span></label>
            </div> <!-- /.form-group -->
            @*<div class="form-group">
                    <label for="signup-username" class="placeholder-hidden">Username</label>
                    <input type="text" class="form-control" id="signup-username" name="UserName" placeholder="Username" tabindex="4" required>
                    <label id="lblerror" style="color:red"><span style="color:red"></span></label>
                </div>*@ <!-- /.form-group -->
            <div class="form-group">
                @*<label for="login-password" class="placeholder-hidden">Password</label>*@
                <input type="text" class="form-control" id="login-password" name="Password" placeholder="Password" oninput="changecolor(this.value)" required>
            </div> <!-- /.form-group -->

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <ul>
                            <li id="char" style="font-size:11px;margin-left:-38px"><span style="color:black">8 characters</span></li>
                            <li id="lower" style="font-size:11px;margin-left:-38px"><span style="color:black">one lowercase</span></li>
                            <li id="special" style="font-size:11px;margin-left:-38px"><span style="color:black">one special character</span></li>

                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li id="upper" style="font-size:11px;margin-left:-38px"><span style="color:black">one uppercase </span></li>
                            <li id="num" style="font-size:11px;margin-left:-38px"><span style="color:black">one number</span></li>                            
                        </ul>
                    </div>
                </div>


            </div>
            <div class="form-group">
                    <label style="font-size:11px;">
                        By clicking "Create My Account" button, you agree to our <a href="#">Privacy Policy</a> and <a href="#">Terms and Consitions</a>.
                        @*<input type="checkbox" required class="" value="" tabindex="6"> I agree to the <a href="javascript:;" target="_blank">Terms of Service</a> &amp; <a href="javascript:;" target="_blank">Privacy Policy</a>*@
                    </label>
            </div> <!-- /.form-group -->
            <div class="form-group">
                <button type="submit" id="signup" class="btn btn-secondary btn-block btn-lg">
                    Create My Account &nbsp; <i class="fa fa-play-circle"></i>
                </button>
            </div> <!-- /.form-group -->
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>

    function changecolor(password) {
        debugger

        var format = /[ !@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;

        if (password.length >= 8) {
            document.getElementById('char').style.color = "green";
        } else {
            document.getElementById('char').style.color = "red";
        }
        if (hasLowerCase(password)) {
            document.getElementById('lower').style.color = "green";
        } else {
            document.getElementById('lower').style.color = "red";
        }
        if (hasUpperCase(password)) {
            document.getElementById('upper').style.color = "green";
        } else {
            document.getElementById('upper').style.color = "red";
        }
        if (password.search(/[0-9]/) > 0) {
            document.getElementById('num').style.color = "green";
        } else {
            document.getElementById('num').style.color = "red";
        }
        if (format.test(password)) {
            document.getElementById('special').style.color = "green";
        } else {
            document.getElementById('special').style.color = "red";
        }

    }

    function hasLowerCase(str) {
        if (str.toUpperCase() != str) {
            return true;
        }
        return false;
    }

    function hasUpperCase(str) {
        if (str.toLowerCase() != str) {
            return true;
        }
        return false;
    }

    $(document).ready(function () {
        $("#lblerror").hide();

        $('#login-password').on('click', function () {
            $(this).attr('type', 'password');
        });
        var IsPr;
        $("#Individual").on("click", function () {
            var check = $('#Individual:checked').val();

            if (check != undefined) {
                $("#login-Business").attr("disabled", "disabled");
                $("#login-Business").val("");

            } else {
                $("#login-Business").removeAttr("disabled", "disabled");
                $("#login-Business").val("");
            }
        });

    });
    $("#signup-email").on("change", function () {
        var Username = $("#signup-email").val();
        $.ajax({
            method: "POST",
            url: "/Account/CheckUsernameexistorNot",
            data: { username: Username },
            dataType: "json",
            success: function (data) {
                if (data == true) {
                    $("#lblerror").show();
                    $("#lblerror").html("User Name Already Exists");
                    $("#signup-email").val("");
                    $("#signup-email").focus();
                }
                else {
                    $("#lblerror").hide();
                }
            }

        })

    });

    $("#signup").click(function () {

        var password = $("#login-password").val();
        var format = /[ !@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/; 
        
        if (password != "") {
            if (password.length < 8) {
                return false;
            }
            if (!hasLowerCase(password)) {
                return false;
            }
            if (!hasUpperCase(password)) {
                return false;
            }
            if (password.search(/[0-9]/) == 0) {
                return false;
            }
            if (!format.test(password)) {
                alert();
                return false;
            }
        }



    });

</script>
