@model CreditReversal.Models.ServiceSettings
@{
    ViewBag.Title = "ServiceSettings";
    Layout = "~/Views/Shared/_secureLayoutPage.cshtml";
}

    <style>
        .errmsg {
            color:red;
        }
    </style>

<div class="page-header">
    @*<h3 class="page-title">Letter </h3>*@
    <ol class="breadcrumb pull-right">
        <li>
            <a href="@ViewBag.Dasboard">
            <i class="fa fa-dashboard"></i>&nbsp;Dashboard</a>
        </li>
        <li active">Add Service Settings </li>
    </ol>
</div>
<div style="padding-top:20px;">
    <div class="portlet portlet-boxed">
        <div class="portlet-header">
            <h4 class="portlet-title">
                Add Service Settings
            </h4>
        </div> <!-- /.portlet-header -->
        <div class="portlet-body">
            <div class="row" style="padding:20px 10px 10px 20px;">

                <div class="col-md-12">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Send Grid API Key<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"   id="SendGridAPIKey" required/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>From Email<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="Fromemail" required/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Authorize.Net API Login Id<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"  id="AuthApiLoginId" required/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>API Transaction Key<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"  id="ApiTransactionKey" required/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Secret Key<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"  id="SecretKey" required/>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Authorize.Net Environment<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"  id="AuthEnvironment"required />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>14 Days Mail Line1<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"  id="Days14MailLine1" required/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>14 Days Mail Line2<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"  id="Days14MailLine2" required/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>7 Days Mail Line1<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"  id="Days7MailLine1" required/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>7 Days Mail Line2<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"  id="Days7MailLine2"required />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Payment Success Line1<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"  id="PaymentSuccessLine1" required/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Payment Success Line2<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="PaymentSuccessLine2" required/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Payment Failure Line1<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"  id="PaymentFailureLine1" required/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Payment Failure Line2<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"  id="PaymentFailureLine2" required/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Next Attempt Mail Line1<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"  id="NextAttemptMailLine1" required/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Next Attempt Mail Line2<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"  id="NextAttemptMailLine2" required/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Second Payment Failure Line1<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"  id="SecondPaymentFailureLine1"required />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Second Payment Failure Line2<span class="errmsg">*</span></label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control"  id="SecondPaymentFailureLine2" required/>
                                </div>
                            </div>
                        </div>


                        <div class="row" style="padding-bottom:20px;">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <button class="btn btn-secondary" id="btnAdd" type="submit">Submit</button>
                                <a href="/Dashboard/Admin" class="btn btn-danger">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
                

            </div>
        </div>
    </div>
</div>

<script>
  
    $(document).ready(function () {
        BindServiceSettings();
    });

    $("#btnAdd").on("click", function () {       
        debugger
        
        var servicesettings =
        {
            SendGridAPIKey: $("#SendGridAPIKey").val(),
            Fromemail: $("#Fromemail").val(),
            AuthApiLoginId: $("#AuthApiLoginId").val(),
            ApiTransactionKey: $("#ApiTransactionKey").val(),
            SecretKey: $("#SecretKey").val(),
            AuthEnvironment: $("#AuthEnvironment").val(),
            Days14MailLine1: $("#Days14MailLine1").val(),
            Days14MailLine2: $("#Days14MailLine2").val(),
            Days7MailLine1: $("#Days7MailLine1").val(),
            Days7MailLine2: $("#Days7MailLine2").val(),
            PaymentSuccessLine1: $("#PaymentSuccessLine1").val(),
            PaymentSuccessLine2: $("#PaymentSuccessLine2").val(),
            PaymentFailureLine1: $("#PaymentFailureLine1").val(),
            PaymentFailureLine2: $("#PaymentFailureLine2").val(),
            NextAttemptMailLine1: $("#NextAttemptMailLine1").val(),
            NextAttemptMailLine2: $("#NextAttemptMailLine2").val(),
            SecondPaymentFailureLine1: $("#SecondPaymentFailureLine1").val(),
            SecondPaymentFailureLine2: $("#SecondPaymentFailureLine2").val(),
        }
        var status = validate(servicesettings);
        debugger;
        if (status == true) {
            $.ajax({
                method: "POST",
                url: "/Admin/AddServiceSettings",
                data: { ServiceSettings: servicesettings },
                dataType: "json",
                success: function (data) {
                    debugger;
                    if (data == true) {
                       
                        Swal.fire({
                            title: "Success!",
                            text: "Service added successfully!",
                            type: 'success',
                        }).then(function () {
                            //location.href = "/Admin/ServiceSettings";
                        })
                    }

                }

            });
        }
    });
    function validate(servicesettings) {
        debugger;
        var status = false;
        if (servicesettings.SendGridAPIKey != "" && servicesettings.Fromemail != "" && servicesettings.AuthApiLoginId != ""
            && servicesettings.ApiTransactionKey != "" && servicesettings.SecretKey != "" && servicesettings.AuthEnvironment != ""
            && servicesettings.Days14MailLine1 != "" && servicesettings.Days14MailLine2 != "" && servicesettings.Days7MailLine1 != ""
            && servicesettings.Days7MailLine2 != "" && servicesettings.PaymentSuccessLine1 != "" && servicesettings.PaymentSuccessLine2 != ""
            && servicesettings.PaymentFailureLine1 != "" && servicesettings.PaymentFailureLine2 != "" && servicesettings.NextAttemptMailLine1 != ""
            && servicesettings.NextAttemptMailLine2 != "" && servicesettings.SecondPaymentFailureLine1 != "" && servicesettings.SecondPaymentFailureLine2 != "") {
            status = true;
            return status;
        }
        else {
            return status
        }
        
    }
  

    function clearform() {
        $("#SendGridAPIKey").val('');
        $("#Fromemail").val('');
        $("#AuthApiLoginId").val(''),
        $("#ApiTransactionKey").val('');
        $("#SecretKey").val('');
        $("#AuthEnvironment").val('');
        $("#Days14MailLine1").val('');
        $("#Days14MailLine1").val('');
        $("#Days7MailLine1").val('');
        $("#Days7MailLine2").val('');
        $("#PaymentSuccessLine1").val('');
        $("#PaymentSuccessLine2").val('');
        $("#PaymentFailureLine1").val('');
        $("#PaymentFailureLine2").val('');
        $("#NextAttemptMailLine1").val('');
        $("#NextAttemptMailLine2").val('');
        $("#SecondPaymentFailureLine1").val('');
        $("#SecondPaymentFailureLine2").val('');
             
    }

    function BindServiceSettings() {
        debugger;
        $.ajax({
            url: "/Admin/GetServiceSettings",
            method: "POSt",
            dataType: "json",
            success: function (data) {
                debugger;
                $("#SendGridAPIKey").val(data.SendGridAPIKey);
                $("#Fromemail").val(data.Fromemail);
                $("#AuthApiLoginId").val(data.AuthApiLoginId);
                $("#ApiTransactionKey").val(data.ApiTransactionKey);
                $("#SecretKey").val(data.SecretKey);
                $("#AuthEnvironment").val(data.AuthEnvironment);
                $("#Days14MailLine1").val(data.Days14MailLine1);
                $("#Days14MailLine2").val(data.Days14MailLine2);
                $("#Days7MailLine1").val(data.Days7MailLine1);
                $("#Days7MailLine2").val(data.Days7MailLine2);
                $("#PaymentSuccessLine1").val(data.PaymentSuccessLine1);
                $("#PaymentSuccessLine2").val(data.PaymentSuccessLine2);
                $("#PaymentFailureLine1").val(data.PaymentFailureLine1);
                $("#PaymentFailureLine2").val(data.PaymentFailureLine2);
                $("#NextAttemptMailLine1").val(data.NextAttemptMailLine1);
                $("#NextAttemptMailLine2").val(data.NextAttemptMailLine2);
                $("#SecondPaymentFailureLine1").val(data.SecondPaymentFailureLine1);
                $("#SecondPaymentFailureLine2").val(data.SecondPaymentFailureLine2);

            }
        });
    }

</script>
