
@{
    ViewBag.Title = "Add Agent";
    Layout = "~/Views/Shared/_secureLayoutPage.cshtml";

   
    if (Request["mode"] == null)
    {
        ViewBag.Title = "Add Agent";
    }
    else
    {
        ViewBag.Title = "My Profile";
       
    }
}

<ol class="breadcrumb mb-2">
    @if (Request["mode"] == null)
    {
        <li class="breadcrumb-item ml-auto"><a href="@ViewBag.Dasboard"><i class="fa fa-dashboard mr-1"></i>Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/Agent/Index"><i class="fa fa-user"></i>Manage Agent</a></li>
        <li class="breadcrumb-item active">Add Agent </li>
    }
    else
    {
        <li class="breadcrumb-item ml-auto"><a href="@ViewBag.Dasboard"><i class="fa fa-dashboard mr-1"></i>Dashboard</a></li>
        <li class="breadcrumb-item active">My Profile </li>
    }

</ol>
<style>
    .errmsg {
        color: red;
    }
</style>

@{
    string role = null;
    if (Session["UserRole"] != null)
    {
        role = Session["UserRole"].ToString();
    }
}
<section>
    <div class="row m-1 py-2">
        <div class="pull-left" style="padding-left:100px">
                <h3 class="text-Yellow">@ViewBag.Title</h3>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-12">

            @*<form method="post" action="/Agent/AddAgent">*@
            <div class="row">
                <div class="col-lg-6">

                    <div class="form-group">

                        <div class="row">
                            <div class="col-sm-3">
                                <label for="BusinessName">Business Name<span class="errmsg">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="BusinessName" id="BusinessName">
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="LastName">Last Name<span class="errmsg">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="LastName" id="LastName">
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="DBA">DBA</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="DBA" id="DBA">
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="StateOfEncorp">State Of Encorp</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="StateOfEncorp" id="StateOfEncorp">
                            </div>
                        </div>
                    </div>




                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="FedTaxIdentityNo">Fed Tax Identity No</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="FedTaxIdentityNo" id="FedTaxIdentityNo">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="PrimaryBusinessAdd2">Primary Business Add2</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="PrimaryBusinessAdd2" id="PrimaryBusinessAdd2">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="PrimaryBusinessState">Primary Business State</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="PrimaryBusinessState" id="PrimaryBusinessState">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="PrimaryBusinessPhone">Primary Business Phone</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="PrimaryBusinessPhone" id="PrimaryBusinessPhone">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="BillingEmail">Billing Email</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="BillingEmail" id="BillingEmail">
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="BillingAdd1">Billing Add1</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="BillingAdd1" id="BillingAdd1">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="BillingCity">Billing City</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="BillingCity" id="BillingCity">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="BillingZip">Billing Zip</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="BillingZip" id="BillingZip">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="UserName">User Name<span class="errmsg">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="UserName" id="UserName">
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-lg-6">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="FirstName">First Name<span class="errmsg">*</span> </label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="FirstName" id="FirstName">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="MiddleName">Middle Name</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="MiddleName" id="MiddleName">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="TypeOfComp">Type Of Comp <span class="errmsg">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <select id="TypeOfComp" name="TypeOfComp" class="form-control">
                                    <option value=""> Select Option</option>
                                    <option value="LLC">LLC</option>
                                    <option value="CORP">CORP</option>
                                    <option value="SOLOPROP">SOLOPROP</option>
                                    <option value="PARTENERSHIP">PARTENERSHIP</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">

                            <div class="col-sm-3">
                                <label for="Date Of Encorp">Date Of Encorp</label>
                            </div>
                            <div class="col-sm-7">

                                <div>
                                    <input type="text" class="form-control" name="DateOfEncorp" id="DateOfEncorp">
                                    @*<span class="input-group-addon text-pointer">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="PrimaryBusinessAdd1">Primary Business Add1</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="PrimaryBusinessAdd1" id="PrimaryBusinessAdd1">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="PrimaryBusinessCity">Primary Business City</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="PrimaryBusinessCity" id="PrimaryBusinessCity">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="PrimaryBusinessZip">Primary Business Zip</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="PrimaryBusinessZip" id="PrimaryBusinessZip">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="PrimaryBusinessEmail">Primary Business Email<span class="errmsg">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="PrimaryBusinessEmail" id="PrimaryBusinessEmail">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="BillingPhone">Billing Phone</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="BillingPhone" id="BillingPhone">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="BillingAdd2">Billing Add2</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="BillingAdd2" id="BillingAdd2">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="BillingState">Billing State</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="BillingState" id="BillingState">
                                <input type="hidden" name="AgentId" id="AgentId" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="padding-top:50px;">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="Password">Password<span class="errmsg">*</span></label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="Password" id="Password">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <button class="btn btn-secondary" id="btnAddAgent" type="submit">Submit</button>
                        <button class="btn btn-secondary" id="btnUpdate" type="submit">Update</button>
                        @if (role == "admin")
                        {
                            <a href="/Agent/index" class="btn btn-danger"> Cancel</a>
                        }
                        else
                        {
                            <a href="/Dashboard/Agent" class="btn btn-danger"> Cancel</a>
                        }

                    </div>
                </div>
            </div>

            @*</form>*@
        </div>

    </div>


</section>






<script>

    $('#DateOfEncorp').datepicker({
        dateFormat: "mm/dd/yy",
        autoclose: true
    });

    $(document).ready(function () {
        debugger;

        $("#btnUpdate").hide();

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };
        debugger;
        //  alert(mode);
        var Id = getUrlParameter('Id');


        if (Id != undefined) {
            debugger;
            var AgentID;
            $.ajax({
                method: "POST",
                url: "/Agent/EditAgent",
                dataType: "json",
                data: { AgentID: Id },
                success: function (data) {

                    $("#btnAddAgent").hide();
                    $("#btnUpdate").show();
                    $("#AgentId").val(Id);
                    $("#BusinessName").val(data.BusinessName);
                    $("#FirstName").val(data.FirstName);
                    $("#LastName").val(data.LastName);
                    $("#MiddleName").val(data.MiddleName);
                    $("#DBA").val(data.DBA);
                    $("#TypeOfComp").val(data.TypeOfComp);
                    $("#StateOfEncorp").val(data.StateOfEncorp);
                    $("#DateOfEncorp").val(data.DateOfEncorp);
                    $("#FedTaxIdentityNo").val(data.FedTaxIdentityNo);
                    $("#PrimaryBusinessAdd1").val(data.PrimaryBusinessAdd1);
                    $("#PrimaryBusinessEmail").val(data.PrimaryBusinessEmail);
                    $("#PrimaryBusinessPhone").val(data.PrimaryBusinessPhone);
                    $("#PrimaryBusinessState").val(data.PrimaryBusinessState);
                    $("#PrimaryBusinessAdd2").val(data.PrimaryBusinessAdd2);
                    $("#PrimaryBusinessCity").val(data.PrimaryBusinessCity);
                    $("#PrimaryBusinessZip").val(data.PrimaryBusinessZip);
                    $("#BillingAdd1").val(data.BillingAdd1);
                    $("#BillingAdd2").val(data.BillingAdd2);
                    $("#BillingCity").val(data.BillingCity);
                    $("#BillingEmail").val(data.BillingEmail);
                    $("#BillingPhone").val(data.BillingPhone);
                    $("#BillingState").val(data.BillingState);
                    $("#BillingZip").val(data.BillingZip);
                    $("#UserName").val(data.UserName);
                    $("#Password").val(data.Password);
                    $("#UserName").prop("disabled", true);
                    $("#Password").prop("disabled", true);

                }

            });


        }

    });



    $("#btnAddAgent").on("click", function () {
        debugger;
        var BusinessName = $("#BusinessName").val();
        var UserName = $("#UserName").val();
        var Password = $("#Password").val();
        var FirstName = $("#FirstName").val();
        var LastName = $("#LastName").val();
        var TypeOfComp = $("#TypeOfComp").val();
        var PrimaryBusinessEmail = $("#PrimaryBusinessEmail").val();

        if (BusinessName == "") {
            Swal.fire("Warning", "Please Enter Business Name", "warning");
            return false;
        }
        else if (FirstName == "") {
            Swal.fire("Warning", "Please Enter First Name", "warning");
            return false;
        }
        else if (LastName == "") {
            Swal.fire("Warning", "Please Enter Last Name", "warning");
            return false;
        }
        else if (TypeOfComp == "") {
            Swal.fire("Warning", "Please Select Type Of Company", "warning");
            return false;
        }
        else if (PrimaryBusinessEmail == "") {
            Swal.fire("Warning", "Please Enter Primary Business Email", "warning");
            return false;
        }
        else if (UserName == "") {
            Swal.fire("Warning", "Please Enter User Name", "warning");
            return false;
        }
        else if (Password == "") {
            Swal.fire("Warning", "Please Enter Password", "warning");
            return false;
        }

        var Agent = {
            BusinessName: $("#BusinessName").val(),
            UserName: $("#UserName").val(),
            Password: $("#Password").val(),
            FirstName: $("#FirstName").val(),
            LastName: $("#LastName").val(),
            MiddleName: $("#MiddleName").val(),
            DBA: $("#DBA").val(),
            TypeOfComp: $("#TypeOfComp").val(),
            StateOfEncorp: $("#StateOfEncorp").val(),
            DateOfEncorp: $("#DateOfEncorp").val(),
            FedTaxIdentityNo: $("#FedTaxIdentityNo").val(),
            PrimaryBusinessAdd1: $("#PrimaryBusinessAdd1").val(),
            PrimaryBusinessEmail: $("#PrimaryBusinessEmail").val(),
            PrimaryBusinessPhone: $("#PrimaryBusinessPhone").val(),
            PrimaryBusinessState: $("#PrimaryBusinessState").val(),
            PrimaryBusinessAdd2: $("#PrimaryBusinessAdd2").val(),
            PrimaryBusinessCity: $("#PrimaryBusinessCity").val(),
            PrimaryBusinessZip: $("#PrimaryBusinessZip").val(),
            BillingAdd1: $("#BillingAdd1").val(),
            BillingAdd2: $("#BillingAdd2").val(),
            BillingCity: $("#BillingCity").val(),
            BillingEmail: $("#BillingEmail").val(),
            BillingPhone: $("#BillingPhone").val(),
            BillingState: $("#BillingState").val(),
            BillingZip: $("#BillingZip").val(),

        };


        $.ajax({
            method: "POST",
            url: "/Agent/AddAgent",
            dataType: "json",
            data: { agent: Agent },
            success: function (data) {
                debugger;
                if (data == true) {
                    Swal.fire({
                        title: "Success!",
                        text: "Sucessfully Inserted!",
                        type: 'success',

                    }).then(function () {
                        window.location.href = "/Agent/Index";
                    })
                }
            }

        });
    });


    $("#btnUpdate").on("click", function () {
        debugger;

        var BusinessName = $("#BusinessName").val();
        var UserName = $("#UserName").val();
        var Password = $("#Password").val();
        var FirstName = $("#FirstName").val();
        var LastName = $("#LastName").val();
        var TypeOfComp = $("#TypeOfComp").val();
        var PrimaryBusinessEmail = $("#PrimaryBusinessEmail").val();

        if (BusinessName == "") {
            Swal.fire("Warning", "Please Enter Business Name", "warning");
            return false;
        }
        else if (FirstName == "") {
            Swal.fire("Warning", "Please Enter First Name", "warning");
            return false;
        }
        else if (LastName == "") {
            Swal.fire("Warning", "Please Enter Last Name", "warning");
            return false;
        }
        else if (TypeOfComp == "") {
            Swal.fire("Warning", "Please Select Type Of Company", "warning");
            return false;
        }
        else if (PrimaryBusinessEmail == "") {
            Swal.fire("Warning", "Please Enter Primary Business Email", "warning");
            return false;
        }
        else if (UserName == "") {
            Swal.fire("Warning", "Please Enter User Name", "warning");
            return false;
        }
        else if (Password == "") {
            Swal.fire("Warning", "Please Enter Password", "warning");
            return false;
        }

        var Agent = {
            AgentId: $("#AgentId").val(),
            BusinessName: $("#BusinessName").val(),
            UserName: $("#UserName").val(),
            Password: $("#Password").val(),
            FirstName: $("#FirstName").val(),
            LastName: $("#LastName").val(),
            MiddleName: $("#MiddleName").val(),
            DBA: $("#DBA").val(),
            TypeOfComp: $("#TypeOfComp").val(),
            StateOfEncorp: $("#StateOfEncorp").val(),
            DateOfEncorp: $("#DateOfEncorp").val(),
            FedTaxIdentityNo: $("#FedTaxIdentityNo").val(),
            PrimaryBusinessAdd1: $("#PrimaryBusinessAdd1").val(),
            PrimaryBusinessEmail: $("#PrimaryBusinessEmail").val(),
            PrimaryBusinessPhone: $("#PrimaryBusinessPhone").val(),
            PrimaryBusinessState: $("#PrimaryBusinessState").val(),
            PrimaryBusinessAdd2: $("#PrimaryBusinessAdd2").val(),
            PrimaryBusinessCity: $("#PrimaryBusinessCity").val(),
            PrimaryBusinessZip: $("#PrimaryBusinessZip").val(),
            BillingAdd1: $("#BillingAdd1").val(),
            BillingAdd2: $("#BillingAdd2").val(),
            BillingCity: $("#BillingCity").val(),
            BillingEmail: $("#BillingEmail").val(),
            BillingPhone: $("#BillingPhone").val(),
            BillingState: $("#BillingState").val(),
            BillingZip: $("#BillingZip").val(),

        };


        $.ajax({
            method: "POST",
            url: "/Agent/AddAgent",
            dataType: "json",
            data: { agent: Agent },
            success: function (data) {

                if (data == false) {

                    Swal.fire({
                        title: "Success!",
                        text: "Sucessfully Inserted!",
                        type: 'success',

                    }).then(function () {
                        window.location.href = "/Agent/Index";
                    })
                }
            }

        });
    });


</script>

