
@{
    ViewBag.Title = "Thank you";
    Layout = "~/Views/Shared/_publicLayoutPage.cshtml";
}

<div class="jumbotron text-center">
    <h1 class="display-3">Thank You for registering!</h1>
   
    @*<p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
    <hr>
    <p>
        Having trouble? <a href="">Contact us</a>
    </p>*@
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/Home/Index" role="button">Continue to sign in</a>
        @*//TODO Changed Home page*@
    </p>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
