
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_PublicLayoutPage.cshtml";
}
<div style="height:440px;">
    <h4 style="padding-top:100px;text-align:center;"> Coming soon..</h4>
</div>


@*<div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="tittle text-center my-4">
                        <h1>
                            How can We
                            <span class="highlighted">Help?</span>
                        </h1>
                        <p class="text-center my-2">
                            CreditReport is a service of <a href="https://www.m3consulting.com" target="_blank">M3 Consulting Inc</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 py-5">

            <div class="row">

                <div class="col-md-4  mb-3">
                    <div class="card">
                        <div class="contact_grid_left">
                            <ul class="list-unstyled row loaction-content">
                                <li class="col-lg-12">
                                    <div class="my-4">
                                        <div class="text-center">
                                            <span class="fa fa-home"></span>
                                        </div>
                                    </div>

                                    <div class="mt-2 text-center mb-4" style="height:100px;">
                                        <h5>Address</h5>
                                        <p class="text-center my-3">
                                            10 Glenlake Pkwy NE Ste 130
                                        </p>
                                        <p class="text-center">
                                            Atlanta, GA 30328.
                                        </p>


                                    </div>


                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4  mb-3">
                    <div class="card">
                        <div class="contact_grid_left">
                            <ul class="list-unstyled row loaction-content">
                                <li class="col-lg-12">

                                    <div class="my-4 ">
                                        <div class="text-center">
                                            <span class="fa fa-envelope"></span>
                                        </div>
                                    </div>

                                    <div class="mt-2 text-center  mb-4" style="height:100px;">
                                        <h5>Email</h5>
                                        <p class="text-center my-3">
                                            <a href="mailto:info@example.com">sales@m3-consulting.com</a>
                                        </p>
                                        <p class="text-center">
                                            <a href="mailto:info@example.com">sales@m3-consulting.com</a>
                                        </p>



                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4  mb-3">
                    <div class="card">
                        <div class="contact_grid_left">
                            <ul class="list-unstyled row loaction-content">
                                <li class="col-lg-12">

                                    <div class="my-4">
                                        <div class="text-center">
                                            <span class="fa fa-phone"></span>
                                        </div>
                                    </div>

                                    <div class="mt-2 text-center mb-4" style="height:100px;">
                                        <h5>Phone Number</h5>
                                        <p class="my-3 text-center">
                                            +1 (770) 573-0345
                                        </p>
                                        <p class="text-center">
                                            +1 (770) 234-3868
                                        </p>


                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>*@
