
@{
    ViewBag.Title = "HowItWorks";
    Layout = "~/Views/Shared/_PublicLayoutPage.cshtml";
}

<div style="height:440px;">
    <h4 style="padding-top:100px;text-align:center;"> Coming soon..</h4>
</div>



