
@{
    ViewBag.Title = "PullDetails";
    Layout = "~/Views/Shared/_secureLayoutPage.cshtml";
}


<div class="container">
	<br />
	<br />
	<div class="row">
		<a href="/Client/LoadHtml" class="btn btn-secondary btn-lg">Pull Credits</a>
	</div>
</div>

