
@{
    ViewBag.Title = "HowItWorks";
    Layout = "~/Views/Shared/_PublicLayoutPage.cshtml";
}
<style>
    p {
        margin: 0px;
    }
</style>
<div class="container">
    <div style="padding-top:40px;">
        <div class="portlet-body" style="padding-bottom:30px;font-size:14px;">

            <div class="row">
                <div class="col-md-12 text-left" style="padding-left:40px;padding-top:20px;">
                    <h6>
                        Website Q&A:<br />

                    </h6>
                </div>
            </div>

            <div class="row" style="margin:8px;">
                <div class="col-md-12">
                    <div class="panel panel-primary" style="border: none;">
                        <div class="panel-heading">
                            <p style="font-style:italic;color:white;"> Q. People will be trusting me with their personal information. Can I assure them their data will be safe?</p>
                        </div>
                        <div class="panel-body">
                            <p>
                                <strong> George:</strong> That’s a great question! The incredible <strong>
                                    Credit Reversal Guru
                                </strong>
                                software wouldn’t do anyone
                                any good if it wasn’t secure. Client data protection is required by law! Encrypted data is stored in a
                                US data center that is SAS 70 compliant, and backed up daily. The center is protected by armed guards!
                                That’s secure!
                            </p>
                        </div>
                        <div class="panel-footer">
                            <p class="text-right" style="font-style:italic"> Tina C., Dallas</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin:8px;">
                <div class="col-md-12">
                    <div class="panel panel-primary" style="border: none;">
                        <div class="panel-heading">
                            <p style="font-style:italic;color:white;">Q. Will I have to install more hard drive clogging software on my computer?</p>

                        </div>
                        <div class="panel-body">
                            <p>
                                <strong> George: </strong>No! That’s one of the great things about<strong>
                                    CRG!
                                </strong>
                                Our easy step-by-step process gives you a
                                worry-free experience – no IT department necessary. You just login, follow our videos and start
                                building your business!
                            </p>
                        </div>
                        <div class="panel-footer">
                            <p class="text-right" style="font-style:italic"> Leon W., Atlanta</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin:8px;">
                <div class="col-md-12">
                    <div class="panel panel-primary" style="border: none;">
                        <div class="panel-heading">
                            <p style="font-style:italic;color:white;">
                                Q. I already have several friends I know need credit repair – my client list
                                is already growing! My question is, will the credit reversal software be easy to understand?
                            </p>

                        </div>
                        <div class="panel-body">
                            <p>
                                <strong>George:</strong> That’s awesome! Motivation is all you need, Darlene! <strong>
                                    Credit Reversal Guru’s
                                </strong>
                                software is
                                completely self-starting! We give you easy to follow steps to get started adding clients, running
                                credit audits and building your business!
                            </p>
                        </div>
                        <div class="panel-footer">
                            <p class="text-right" style="font-style:italic"> Darlene G., Miami</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin:8px;">
                <div class="col-md-12">
                    <div class="panel panel-primary" style="border: none;">
                        <div class="panel-heading">
                            <p style="font-style:italic;color:white;">
                                Q. The program sounds great! I like the idea of everything being virtual.
                                I’m definitely in! What do I do if I have questions?
                            </p>

                        </div>
                        <div class="panel-body">
                            <p>
                                <strong> George:</strong> You’re working for yourself, but you’re part of a team! <strong>
                                    CRG
                                </strong>
                                has on the spot
                                assistance via chat, phone or email. Your success is our success!
                            </p>
                        </div>
                        <div class="panel-footer">
                            <p class="text-right" style="font-style:italic">Ahmad R., San Francisco</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin:8px;">
                <div class="col-md-12">
                    <div class="panel panel-primary" style="border: none;">
                        <div class="panel-heading">
                            <p style="font-style:italic;color:white;">
                                Q. I love the idea of no paperwork – and no mailing! But it seems as though the
                                credit services make it hard to understand on purpose, though. Will I be able to figure it out?
                            </p>

                        </div>
                        <div class="panel-body">
                            <p>
                                <strong>George:</strong> I guarantee it! The <strong>
                                    Credit Reversal Guru
                                </strong>
                                program is completely easy to follow,
                                and will guide you through the steps. It will help you cross every t and dot every I – you’ll be flawless!
                                And it limits your workload by 95% over any other software.
                            </p>
                        </div>
                        <div class="panel-footer">
                            <p class="text-right" style="font-style:italic">Sarah G., Cincinnati</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
