
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_PublicLayoutPage.cshtml";
}
<div class="container">
    <div style="padding-top:40px;">
        <div class="portlet-body" style="padding-bottom:30px;font-size:14px;">
            <div class="row">
                <div class="col-md-12 text-center" style="padding:30px;">
                    <h5>
                        Credit Reversal Guru is offering<br />
                        a home-based Business from the convenience<br />
                        of your kitchen table!<br />

                    </h5>
                </div>
            </div>
            <div class="row" style="padding-left:40px;padding-top:10px;">
                <div class="col-md-12 text-left">
                    <p>
                        : Arguments are automatically printed, stamped, and mailed to the Credit Bureaus.  So, what does this mean?<br />
                    </p>
                    <ul>
                        <li>No Printer</li>
                        <li>No Envelopes or Stamps</li>
                        <li>No Mailing</li>
                        <li>Paperless Process</li>
                        <li>Turnkey start-up with minimal overhead cost</li>
                    </ul>
                </div>
            </div>
            <div class="row" style="padding-left:40px;padding-top:10px;">
                <div class="col-md-12 text-left">
                    <p>: No Credit Reports to read or understand</p>
                    <p>: Easy uploading of secured verification documents</p>
                    <p>: Just push the send button and your clients are on their restoration way!</p>
                    <p>: 24/7 Access for clients to view their credit reports and results from your business portal</p>
                    <p>: Your credit restoration business has never been easier</p>
                    <p>: No experience needed…the software handles the operation for you!</p>
                    <p>: Ongoing blogs for credit education</p>
                    <p>: Allow access to our financial education library</p>
                </div>
            </div>
            <div class="row" style="padding-left:40px;padding-top:10px;">
                <div class="col-md-12 text-left">
                    <p>
                        We are Credit Reversal Guru, an elite credit restoration software company with 60 years of combined experience
                        in the field of credit education, software development, and support.
                    </p>
                </div>
            </div>
            <div class="row" style="padding-left:40px;padding-top:10px;">
                <div class="col-md-12 text-left">
                    <p>
                        CRG is the only company that have the software intelligence to help <strong>reverse negative tradelines</strong> to ‘paid as agreed zero balance.’
                        Make no mistake, this will change the industry! Credit reversing is a new concept that only focuses on the FICO scoring system while considering the following factors:
                    </p>
                    Factor #1: By reversing negative trade lines to ‘paid as agreed,’ this increases the credit score by 35%.<br />

                    Factor #2: By zeroing out the negative balance, this increases the credit score by 30%.<br />

                    Factor #3: We strive to keep the account and not delete it…another 15%.<br />

                    The last and a very important consideration by FICO, is the type of credit and balance and its worth 10% of the score.<br />

                </div>
            </div>
            <div class="row" style="padding-left:40px;padding-top:10px;">
                <div class="col-md-12 text-left">
                    <p>
                        Our job at Credit Reversal Guru is to offer an <strong>elite credit management and reporting software solution</strong> to assist in maximizing FICO scores. Let it be known that FICO and FICO alone controls 98% of the bank’s decision for all types of loans.
                    </p>
                </div>
            </div>
            <div class="row" style="padding-left:40px;padding-top:10px;">
                <div class="col-md-12 text-left">
                    <p>
                        If you are new to the credit repair industry, our <strong>turnkey system</strong> makes it easy to launch your business in a matter of minutes! If you are a veteran to the industry, our software will <strong>streamline your daily process</strong> allowing you more time to focus on growing your business!  What are you waiting for…<strong>GET STARTED TODAY!</strong>
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>