
@{
    ViewBag.Title = "NewPage";
    Layout = "~/Views/Shared/_secureLayoutPage.cshtml";
}
<style>
    iframe {
        width: 100%;
        height: 500px;
    }
</style>
<iframe src="https://www.identityiq.com/">
  
    <p>Your browser does not support iframes.</p>
</iframe>
<br />
<object data="https://www.identityiq.com/" width="600" height="400">
    <embed src="https://www.identityiq.com/" width="600" height="400"> </embed>
    Error: Embedded data could not be displayed.
</object>
<br />

<object data="http://www.web-source.net" width="600" height="400">
    <embed src="http://www.web-source.net" width="600" height="400"> </embed>
    Error: Embedded data could not be displayed.
</object>